
#blanket {
   opacity: 0.65;
   position:absolute;
   z-index: 9001; /*ooveeerrrr nine thoussaaaannnd*/
   top:0px;
   left:0px;
   width:100%;
}
#popUpDiv {
	position:absolute;
	border:3px solid #CCC;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding: 10px;
    background: #fff;
	border-radius:5px;
	-webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
	-moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
	box-shadow:0 0 18px rgba(0,0,0,0.4);
	min-width:350px;
	min-height:370px;
	z-index: 9002; 
}
.collapsed{width: 34%;padding:5px; background:#fff;padding-bottom:3px; margin-top:5px; font-size:11px}

.showPpl{
   background-color: white;
	border-bottom: 1px solid #E3E3E3;
	cursor: pointer;
	text-align:left;
	padding: 8px;
    margin-top: 3px;
}
.showPpl a{ text-decoration:none}

a.showallc{color:#0A5AA3; text-decoration:none;}
a.showallc:hover{text-decoration:underline;}
